body{
    background-color: azure;
};

#maincontent{
    height: 100vh;
    display: flex;
}

.collums{
display: flex;
justify-content: center;
gap: 10px;
}

#toDo {
    width: 35vw;
    height: 35vh;
    background-color: cornsilk;
    text-align: center;
    border-radius: 10%;
    
}

#done{
    width: 35vw;
    height: 35vh;
    background-color: cornsilk;
    text-align: center;
    border-radius: 10%;
}